.header-box{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: darkgray;
  padding: 0 20px;
  line-height: 50px;
  height: 50px;
}

.title_name_btn{
  text-decoration: none;
  color: white;
  padding: 10px 20px;
}

.header-sub-menu{
  width: 200px;
  height: 50px;
  text-align: center;
  position: relative;
}

.user-menu, .user-menu1{
  background-color: beige;
}

.user_menu_btn{
  position: absolute;
  top: 50px;
  right: 0;
  width: 200px;
  margin-right: 20px;
  background-color: white;
  text-align: center;
}

.nav{
  padding: 10px 0;
}

/* スマホ向けのスタイル(599px) */
@media screen and (min-width: 320px) and (max-width: 1024px) {
  .header-box{
    justify-content: space-between;
    padding: 0;
  }
  
  .title_name_btn{
    font-size: 20px;
  }

  .user-menu{
    float: right;
    width: 100px;
  }

  .user-menu1{
    width: 200px;
  }
  
  .user_menu_btn{
    width: 100px;
    margin-right: 0;
  }

  .nav_account{
    font-size: 10px;
  }

  .nav_logout{
    font-size: 10px;
  }
}