<div class="album-box">
  <div class="">
    作成者：<%= post.user.nickname %>
  </div>
  <div class="link">
    <%= link_to post.address, post_path(post.id), class:"btn" %>:
  </div>
  <div class="">
    コメント：<%= post.comment %>
  </div><br />
</div>