<div class="album-box">
  <div class="about-box">
    <div class="link">
      <%= link_to post.address, post_path(post.id), class:"link_name btn" %>
    </div>
    <div class="album-about">
      作成者：<%= post.user.nickname %><br />
      <%= post.comment %>
    </div>
  </div>

  <% if post.image.present? %>
    <div class="image-box">
      <%= image_tag post.image, class: "image" %>
    </div>
  <% end %>
</div>