<div class="main">
  <div class="container">
    
    <div class="new-container">
      <div class="new-form-container">
        <div class="new-form-title">スポット編集</div>

          <div>
            <%= render partial: "form", locals: { post: @post } %>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>