/* リセットCSS */
* {
  box-sizing: border-box;
}

.btn{
  text-decoration: none;
  color: black;
}

.hidden{
  display: none;
}

/* メイン */

.main{
  height: calc(100vh - 100px);
  width: 100%;
  background-color: azure;
}

.container{
  height: 100%;
  padding: 20px;
  margin: 0 40px;
}

/* お気に入りスポットを記録しよう！ */
.main-container{
  height: 100%;
  background-color: white;
  border: 1px solid black;
  overflow: scroll;
}

.top-container{
  padding: 20px;
  background-color: aquamarine;
}

/* みんなのお気に入りスポット一覧 */
.center-container{
  padding: 16px;
  text-align: center;
}

.center-posts{
  display: flex;
  flex-wrap: wrap;
}

.center-post{
  border-radius: 20px;
  background-color: bisque;
  margin: 10px;
}

/* 投稿詳細画面 */
.item-box-img{
  width: 100vw;
  height: 400px;
}

.item-img{
  width: 250px;
  height: auto;
}

img{
  width: 250px;
  height: auto;
}
