/* ---posts詳細画面--- */

/* showの土台 */
.show-container{
  padding: 50px;
  height: 100%;
  background-color: white;
  border: 1px solid black;
  overflow: scroll;
}

/* about,image,mapを含めた大枠 */
.show-about-container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px;
}

/* 作成ユーザー、お気に入りスポット、コメント, 画像の枠 */
.left-container{
  width: 50%;
  height: 100%;
  text-align: center;
}

/* 作成ユーザー、お気に入りスポット、コメント */
.about-container{
  width: 100%;
  margin-bottom: 20px;
}

.font{
  font-size: 20px;
}

.nickname_btn{
  background-color: floralwhite;
  border-radius: 2px;
  padding: 20px 50px;
}

/* 画像 */
.item-box-img{
  width: 100%;
  height: 100%;
}

.item-img{
  object-fit: cover;
}

img{
  width: 85%;
  height: 400px;
}

/* マップの枠 */
.right-container{
  width: 50%;
  height: 100%;
  padding: 20px;
}

.map-container{
  height: 700px;
  width: 100%; 
  margin: 0 auto;
}

.map{
  height: 100%;
  width: 100%; 
}

/* 投稿オプション */
.option_container{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px 40px 5px 10px;
}

.edit_option{
  text-align: center;
  border: 1px solid white;
  width: 100px;
  font-size: 20px;
  margin-right: 20px;
  padding: 5px 10px;
  background-color: cornflowerblue;
}

.edit_btn{
  text-decoration: none;
  color: white;
}

.delete_option{
  text-align: center;
  border: 1px solid white;
  width: 100px;
  padding: 5px 10px;
  font-size: 20px;
  background-color: crimson;
}

.delete_btn{
  text-decoration: none;
  color: white;
}


/* タブレット向けのスタイル(521~1024px) */
@media screen and (min-width: 535px) and (max-width: 1024px) {  
  .show-container{
    padding: 10px;
  }

  .show-about-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .left-container{
    display: flex;
    width: 100%;
  }

  .right-container{
    width: 100%;
  }

  img{
    width: 90%;
    height: 300px;
  }

  .map-container{
    margin: 0 auto;
    height: 380px;
    width: 95%; 
  }

  .about-container{
    margin-bottom: 0px;
  }

  .about-box{
    height: 20px;
  }

  .font{
    font-size: 13px;
  }

  .nickname_btn{
    font-size: 13px;
    padding: 5px 30px;
  }

  .spot{
    font-size: 13px;
  }

  .comment{
    font-size: 13px;
  }
}

/* スマホ向けのスタイル(598px) */
@media screen and (min-width:320px) and (max-width: 535px) {
  .show-container{
    padding: 10px;
  }

  .show-about-container{
    display: flex;
    flex-direction: column;
    padding: 10px;
  }

  .left-container, .right-container{
    width: 100%;
  }

  img{
    width: 85%;
    height: 250px;
  }

  .map-container{
    height: 250px;
    width: 95%; 
  }

  .about-container{
    margin-bottom: 0px;
  }

  .about-box{
    height: 20px;
  }

  .font{
    font-size: 12px;
  }

  .nickname_btn{
    font-size: 12px;
    padding: 5px 30px;
  }

  .spot{
    font-size: 12px;
  }

  .comment{
    font-size: 12px;
  }

  /* 投稿オプション */
  .option_container{
    justify-content: center;
    padding: 0;
  }

  .edit_option{
    font-size: 15px;
  }

  .delete_option{
    padding: 5px 10px;
    font-size: 15px;
  }
}