.account-container{
  padding: 0 20px;
  margin: 0 10px;
  border-bottom: 1px solid black;
}

.account_info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.account{
  margin-top: 10px;
}

.account_edit{
  text-align: center;
  border: 1px solid white;
  font-size: 20px;
  color: white;
  margin-right: 20px;
  padding: 5px 10px;
  background-color: cornflowerblue;
}

@media screen and (min-width: 535px) and (max-width: 1024px) {
  .center-main-container{
    height: 650px;
  }

  .account_edit{
    font-size: 14px;
  }
}

@media screen and (min-width:320px) and (max-width: 535px) {
  .account-container{
    padding: 0 10px;
  }
  
  .account_info{
    display: block;
    margin-bottom: 30px;
    text-align: center;
  }

  .account_status{
    margin: 0 auto;
  }

  .account{
    margin-top: 20px;
  }

  .account_edit{
    font-size: 15px;
  }
}